[submodule "deps/azure-c-shared-utility"]
	path = deps/azure-c-shared-utility
	url = https://github.com/Azure/azure-c-shared-utility
[submodule "deps/azure-iot-sdks"]
	path = deps/azure-iot-sdks
	url = https://github.com/azure/azure-iot-sdks
[submodule "deps/parson"]
	path = deps/parson
	url = https://github.com/kgabis/parson
[submodule "deps/nanomsg"]
	path = deps/nanomsg
	url = https://github.com/nanomsg/nanomsg.git
